<section class="pageboxlayout">
    <section class="row">
        <div class="large-12 columns">
            <div class="pageboxpart padbottomfixed margin2xtop--small">
                <h1 class="pageboxpart__heading white24 helq pageboxredoverall pageboxtitletext" translate="">
                    Article
                </h1>
                <div class="pageboxpart__inner-border">
                    <div class="soft">
                        <div class="row">
                            <div class="large-12 columns">
                                <div class="row">
                                    <div class="large-12 columns">
                                        <form autocomplete="off" class="form-horizontal" ng-controller="AdminController" ng-submit="switchupdatearticle === false ? addAdminArticle() : updateAdminArticle()" novalidate="novalidate" role="form">
                                            <div class="form-group">
                                                <label class="col-lg-4" translate="">
                                                    Title
                                                </label>
                                                <div class="col-lg-12">
                                                    <input class="form-control" ng-model="article.title" required="" type="text"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-4" translate="">
                                                    Description
                                                </label>
                                                <div class="col-lg-12">
                                                    <input class="form-control" ng-model="article.description" required="" type="text"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-4" translate="">
                                                    Image
                                                </label>
                                                <div class="col-lg-12">
                                                    <input class="form-control" ng-model="article.image" required="" type="text"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-4" translate="">
                                                    Content
                                                </label>
                                                <div class="col-lg-12">
                                                    <text-angular ng-model="article.body">
                                                    </text-angular>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-lg-12" style="text-align: center">
                                                    <button class="button blue marginxtop expand--small flush--bottom js-send-quote btn-block" ng-hide="switchupdatearticle" translate="" type="submit">
                                                        Save
                                                    </button>
                                                    <button class="button blue marginxtop expand--small flush--bottom js-send-quote btn-block" ng-show="switchupdatearticle" translate="" type="submit">
                                                        Update
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
