<div class="large-12 columns">
    <div class="alert alert-success" focus-if="" ng-show="savearticle || updatearticle " role="alert">
        <h3 class="body-title">
            <span id="success_message" ng-show="savearticle" translate="">
                Successfully added article
            </span>
            <span id="update_message" ng-show="updatearticle" translate="">
                Successfully updated article
            </span>
        </h3>
    </div>
    <div class="form-group pull-left padtop10">
        <h2 translate="">
            Article List
        </h2>
    </div>
    <div class="form-group pull-left padtop10 padleft10 marginbottom5">
        <button class="tiny button pink" translate="" ui-sref="adminarticle">
            Add New
        </button>
    </div>
    <div class="form-group pull-right padtop10">
        <input class="search form-control" disable-invalid-styling="true" disable-valid-styling="true" ng-model="query.filter" ng-model-options="filter.options" placeholder="{{'Search' | translate}}" type="text"/>
    </div>
    <span class="counter pull-right">
    </span>
    <table class="table table-bordered" style="font-size:12px" ts-wrapper="">
        <thead>
            <tr>
                <th translate="">
                    Title
                </th>
                <th translate="">
                    Description
                </th>
                <th translate="">
                    Image
                </th>
                <th translate="">
                    User
                </th>
                <th style="max-width: 250px !important;">
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="article in articles" ts-hide-no-data="" ts-repeat="">
                <td>
                    {{article.title}}
                </td>
                <td>
                    {{article.description}}
                </td>
                <td>
                    <img height="40" ng-src="{{article.image}}"/>
                </td>
                <td>
                    {{article.user.name}}
                </td>
                <td>
                    <div style="padding-bottom:10px">
                        <a class="btn btn-warning btn-sm" ui-sref="adminarticle({articleid:article._id})" uib-tooltip="{{'Edit' | translate}}">
                            <i class="fa fa-pencil-square-o fa-lg">
                            </i>
                        </a>
                    </div>
                    <div style="padding-bottom:10px">
                        <a class="btn btn-success btn-sm" ng-href="{{'/blog/' + article.slug}}" target="_self" uib-tooltip="View Article">
                            <i class="fa fa-eye fa-lg">
                            </i>
                        </a>
                    </div>
                    <div style="padding-bottom:5px">
                        <a class="btn btn-danger btn-sm" confirm="{{'Are you sure you want to delete?' | translate}}" href="#" ng-click="deleteArticle(article._id)" uib-tooltip="{{'Delete' | translate}}">
                            <i class="fa fa-trash-o fa-lg">
                            </i>
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
