<div class="large-12 columns">
    <div class="alert alert-success" focus-if="" ng-show="saveservice || updateservice" role="alert">
        <h3 class="body-title">
            <span id="success_message" ng-show="saveservice" translate="">
                Successfully created service group
            </span>
            <span id="update_message" ng-show="updateservice" translate="">
                Successfully updated service group
            </span>
        </h3>
    </div>
    <div class="form-group pull-left padtop10">
        <h2 translate="">
            Service Groups
        </h2>
    </div>
    <div class="form-group pull-left padtop10 padleft10 marginbottom5">
        <button class="tiny button pink" translate="" ui-sref="adminservicegroup">
            Add New
        </button>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th translate="">
                    Name
                </th>
                <th translate="">
                    Services
                </th>
                <th style="width:5%" translate="">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="servicegroup in servicegroups">
                <td style="width:50%">
                    {{servicegroup.name}}
                </td>
                <td>
                    <table>
                        <tr ng-repeat="service in servicegroup.services" style="border-bottom-color: black; border-bottom-width: 1px;  border-bottom-style: solid; ">
                            <div style="width: 150px;">
                                <td style="font-size:12px;">
                                    {{ service.name }}
                                </td>
                            </div>
                        </tr>
                    </table>
                </td>
                <td>
                    <input class="btn btn-warning btn-xs" ng-hide="nav.isEditor() === true" type="button" ui-sref="adminservicegroup({servicegroupid: servicegroup._id })" value="{{'Edit' || translate}}"/>
                    <p>
                    </p>
                    <a class="btn btn-danger btn-xs" confirm="{{'Are you sure you want to delete?' | translate}}" href="#" ng-click="deleteServicegroup(servicegroup._id)" uib-tooltip="{{'Delete' | translate}}">
                        Delete
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
