<div class="large-12 columns">
    <div class="alert alert-success" focus-if="" ng-show="saveaddfunds || updateaddfunds " role="alert">
        <h3 class="body-title">
            <span id="success_message" ng-show="saveaddfunds" translate="">
                Successfully added funds
            </span>
            <span id="update_message" ng-show="updateaddfunds" translate="">
                Successfully updated funds info
            </span>
        </h3>
    </div>
    <div class="form-group pull-left padtop10">
        <h2 translate="">
            Users List
        </h2>
    </div>
    <div class="form-group pull-right padtop10">
        <input class="search form-control" disable-invalid-styling="true" disable-valid-styling="true" ng-model="query.filter" ng-model-options="filter.options" placeholder="{{'Search' | translate}}" type="text"/>
    </div>
    <span class="counter pull-right">
    </span>
    <table class="table table-bordered" style="font-size:12px" ts-wrapper="">
        <thead>
            <tr>
                <th translate="" ts-criteria="Email">
                    Email
                </th>
                <th translate="">
                    Name
                </th>
                <th translate="" ts-criteria="Role">
                    Role
                </th>
                <th style="max-width: 90px !important;" translate="">
                    Providers
                </th>
                <th style="max-width: 90px !important;" translate="">
                    Requests
                </th>
                <th style="max-width: 90px !important;" translate="">
                    Transactions
                </th>
                <th style="max-width: 250px !important;">
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in users" ts-hide-no-data="" ts-repeat="">
                <td>
                    {{user.email}}
                </td>
                <td>
                    {{user.name}}
                </td>
                <td>
                    {{user.role}}
                </td>
                <td>
                    <table>
                        <tr ng-repeat="p in user.providers" style="border-bottom-color: black; border-bottom-width: 1px;  border-bottom-style: solid; ">
                            <div style="width: 150px;">
                                <td style="font-size:12px;">
                                    {{p.sequence}} / {{$index+1}} -  {{p.businesstype.objectid=== 2 ? p.company : (p.firstname + ' ' + p.lastname)}}
                                </td>
                            </div>
                        </tr>
                    </table>
                </td>
                <td>
                    <table>
                        <tr ng-repeat="r in user.requests" style="border-bottom-color: black; border-bottom-width: 1px;  border-bottom-style: solid; ">
                            <div style="width: 150px;">
                                <td style="font-size:12px;">
                                    {{r.sequence}} / {{r.service.subcategory | translateFilter:languageKey}} /  {{ statusOptions[r.status.objectid-1].name}}
                                </td>
                            </div>
                        </tr>
                    </table>
                </td>
                <td>
                    <table>
                        <tr ng-repeat="t in user.transactions" style="border-bottom-color: black; border-bottom-width: 1px;  border-bottom-style: solid; ">
                            <div style="width: 150px;">
                                <td style="font-size:12px;padding-bottom:10px;padding-top:10px">
                                    {{transactionTypes[t.transactionType.objectid-1].name}} / {{ t.transactionType.add ? '+' : '-' }}{{ t.amount.value}}{{ t.amount.currency}} / {{t.date | amDateFormat:'DD.MM.YYYY HH:mm'}}
                                </td>
                                <td style="font-size:12px; padding-right:15px">
                                    <a class="btn btn-warning btn-xs" ui-sref="addfunds({userid: user._id, transactionid: t._id})" uib-tooltip="{{'Edit' | translate}}">
                                        <i class="fa fa-pencil-square-o fa-lg">
                                        </i>
                                    </a>
                                </td>
                            </div>
                        </tr>
                    </table>
                </td>
                <td>
                    <div style="padding-bottom:20px">
                        <a class="btn btn-primary btn-sm" translate="" ui-sref="addfunds({userid: user._id})">
                            Add Funds
                        </a>
                        <!--                        <p>
                        </p>
                        <a class="btn btn-success btn-sm" confirm="{{'Are you sure you want to send login details to this user?' | translate}}" ng-click="sendLoginInfo(user)" ng-show="user.adminCreated" translate="">
                            Send Login Email
                        </a> -->
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
