<section class="pageboxlayout">
    <section class="row">
        <div class="large-12 columns">
            <div class="pageboxpart">
                <h1 class="pageboxpart__heading white24 helq pageboxredoverall pageboxtitletext" translate="">
                    Add Money By Credit Card
                </h1>
                <div class="pageboxpart__inner-border">
                    <div class="soft">
                        <div class="row">
                            <div class="card-wrapper">
                            </div>
                            <form action="#" data-card="" data-card-container="#card-container" data-messages="cardMessages" data-options="cardOptions" data-placeholders="cardPlaceholders" data-width="500" name="cardForm">
                                <div>
                                    <input card-number="" data-ng-model="card.number" name="CardNumber" placeholder="Card number" type="text"/>
                                    <input card-name="" data-ng-model="card.name" name="CardName" placeholder="Full name" type="text"/>
                                </div>
                                <div>
                                    <input card-expiry="" data-ng-model="card.expiry" name="CardExpiry" placeholder="MM / YYYY" type="text"/>
                                    <input card-cvc="" data-ng-model="card.cvc" name="CardCvc" placeholder="CVC" type="text"/>
                                    <input data-ng-click="changeCard()" type="button" value="Change card"/>
                                    <input data-ng-click="clear()" type="button" value="Clear"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<!-- <section class="pageboxlayout">
    <section class="row">
        <div class="large-3 columns">
            <div ng-include="'app/finances/_menu.html'"></div> 
        </div>
        <div class="large-9 columns"> 
        <div class="pageboxpart">
            <h1 class="pageboxpart__heading white24 helq pageboxredoverall pageboxtitletext" translate>Balance</h1>
            <div class="pageboxpart__inner-border">
                <div class="soft">      
                     
                    <div class="row wrapper18">
                        <div class="large-5 columns padbottonfixedsmaller">
                            <span translate>Commissions From Quote Won</span>
                        </div>
                        <div class="large-7 columns text--left marginxtop--small">
                            <span translate>-0,00 TL</span>
                        </div>
                    </div>
                    <div class="row wrapper18">
                        <div class="large-5 columns padbottonfixedsmaller">
                            <span translate>Services Taken</span>
                        </div>
                        <div class="large-7 columns text--left marginxtop--small">
                            <span translate>-0,00 TL</span>
                        </div>
                    </div>
                    <div class="row wrapper18">
                        <div class="large-5 columns padbottonfixedsmaller">
                            <span translate>Payments</span>
                        </div>
                        <div class="large-7 columns text--left marginxtop--small">
                            <span translate>+5,00 TL</span>
                        </div>
                    </div>
                    <hr>
                    <div class="row wrapper28 ">
                        <div class="large-5 columns padbottonfixedsmaller fontweight600">
                            <span translate>Balance</span>
                        </div>
                        <div class="large-7 columns text--left marginxtop--small">
                            <span translate>5,00 TL</span>
                        </div>
                    </div> 
                    <hr>
                    <div class="soft hard--top">
                        <button type="submit" class="button margin2xtop flush--ends expand--small ladda-button js-ladda-button" data-style="expand-right"><span class="ladda-label">Add Money By Credit Card</span></span></button>
                        <button type="submit" class="button margin2xtop flush--ends expand--small ladda-button js-ladda-button" data-style="expand-right"><span class="ladda-label">Add Money By Bank Transfer</span></span></button>
                    </div>


                </div>
            </div>
        </div> 
    </section>
</section>
 -->
