<h3 translate="">
    Get Price Quotes For Services
</h3>
<table cellspacing="0" class="toptentable" rules="all">
    <tbody>
        <tr>
            <td class="bw0">
                <div class="toptencomment font16set">
                    <div class="quote--input">
                        <input class="forcetext form-control" focus-if="" ng-model="searchtext" placeholder="{{ 'ex: house cleaning, carpenter, electrician' | translate }}" register-custom-form-control="" required="" type="text" typeahead-min-length="2" typeahead-on-select="onTypeSelect($item)" typeahead-select-on-blur="false" typeahead-select-on-exact="false" uib-typeahead="s.subcat  for s in getSearchtext($viewValue) "/>
                    </div>
                    <p class="fittocenter marginbottom5">
                        <button class="bttn button orange marginbottom5" ng-click="gotoRequest('',searchtext)" translate="">
                            Get Quote
                        </button>
                    </p>
                    <p class="help-block centered-text fittocenter" translate="">
                        It's Free!
                    </p>
                </div>
            </td>
        </tr>
    </tbody>
</table>
